---
layout: default
---

{{ content }}

{% assign children_list = site.html_pages | sort:"nav_order" %}
{% for child in children_list %}
  {% unless forloop.first or current.parent != page.parent %}
    {% if cur_page == nil %}
        {% assign prev_page = current %}
    {% endif %}
  {% endunless %}
  {% unless cur_page == nil %}
    {% if next_page == nil and child.parent == page.parent %}
        {% assign next_page = child %}
    {% endif %}
  {% endunless %}
  {% assign current = child %}
  {% if child.title == page.parent %}
    {% assign parent_page = child %}
    parent.nav_order (1) = {{ parent_page.nav_order }}<br/>
    parent.url (1) = {{ parent_page.url }}<br/>
    parent.title (1) = {{ parent_page.title }}<br/>
  {% endif %}
  {% if child.parent == page.parent and  child.title == page.title %}
    {% assign cur_page = child %}
    child.nav_order = {{ child.nav_order }}<br/>
    child.url = {{ child.url }}<br/>
    parent.nav_order = {{ parent_page_info.nav_order }}<br/>
    parent.url = {{ parent_page_info.url }}<br/>
    parent.title = {{ parent_page_info.title }}<br/>
    forloop.index = {{ forloop.index }}<br/>
    url[current] = {{ children_list[forloop.index0].url }}<br/>
    title[current] = {{ children_list[forloop.index0].title }}<br/>
    <a href="{{ child.url | absolute_url }}">{{ child.title }}</a>
  {% endif %}
{% endfor %}
parent.parent = {{ parent_page.parent }}<br/>
parent.nav_order = {{ parent_page.nav_order }}<br/>
parent.url = {{ parent_page.url }}<br/>
parent.title = {{ parent_page.title }}<br/><br/>
prev.parent = {{ prev_page.parent }}<br/>
prev.nav_order = {{ prev_page.nav_order }}<br/>
prev.url = {{ prev_page.url }}<br/>
prev.title = {{ prev_page.title }}<br/><br/>
cur.parent = {{ cur_page.parent }}<br/>
cur.nav_order = {{ cur_page.nav_order }}<br/>
cur.url = {{ cur_page.url }}<br/>
cur.title = {{ cur_page.title }}<br/><br/>
next.parent = {{ next_page.parent }}<br/>
next.nav_order = {{ next_page.nav_order }}<br/>
next.url = {{ next_page.url }}<br/>
next.title = {{ next_page.title }}<br/><br/>
<p><div align="center">
{% if prev_page != nil and prev_page.parent == page.parent %}
    <a href="{{ prev_page.url | absolute_url }}">&lt; Prev</a>
{% else %}
    &lt; Prev
{% endif %} | <a href="{{ parent_page.url | absolute_url }}">Up</a> | 
{% if next_page != nil and next_page.parent == page.parent %}
    <a href="{{ next_page.url | absolute_url }}">Next &gt;</a>
{% else %}
    Next &gt;
{% endif %}
</div></p>
