---
layout: default
---

{{ content }}

{% assign children_list = site.html_pages | sort:"nav_order" %}
{% for child in children_list %}
  {% unless forloop.first or current.parent != page.parent %}
    {% if cur_page == nil %}
        {% assign prev_page = current %}
    {% endif %}
  {% endunless %}
  {% unless cur_page == nil %}
    {% if next_page == nil and child.parent == page.parent %}
        {% assign next_page = child %}
    {% endif %}
  {% endunless %}
  {% assign current = child %}
  {% if child.title == page.parent %}
    {% assign parent_page = child %}
    parent.nav_order (1) = {{ parent_page.nav_order }}<br/>
    parent.url (1) = {{ parent_page.url }}<br/>
    parent.title (1) = {{ parent_page.title }}<br/>
  {% endif %}
  {% if child.parent == page.parent and  child.title == page.title %}
    {% assign cur_page = child %}
  {% endif %}
{% endfor %}
<p><div align="center">
{% if prev_page != nil and prev_page.parent == page.parent %}
    <a href="{{ prev_page.url | absolute_url }}">&lt; Prev</a>
{% else %}
    &lt; Prev
{% endif %} | <a href="{{ parent_page.url | absolute_url }}">Up</a> | 
{% if next_page != nil and next_page.parent == page.parent %}
    <a href="{{ next_page.url | absolute_url }}">Next &gt;</a>
{% else %}
    Next &gt;
{% endif %}
</div></p>
